In [54]:
import pandas as pd

# Cargar la tabla de hechos
fact_table = pd.read_csv("../data/clean/fact_table.csv")

In [55]:
fact_table

,user_id,first_name,last_name,age,city,reg_date,plan,churn_date,month_year,duration,mb_used,message_count,messages_included,mb_per_month_included,minutes_included,usd_monthly_pay,usd_per_gb,usd_per_message,usd_per_minute,plan_name
0,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-02,0.00,0.00,0.0,1000,30720,3000,70,7,0.01,0.01,ultimate
1,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-03,0.00,0.00,0.0,1000,30720,3000,70,7,0.01,0.01,ultimate
2,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-04,0.00,0.00,0.0,1000,30720,3000,70,7,0.01,0.01,ultimate
3,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-05,0.00,0.00,0.0,1000,30720,3000,70,7,0.01,0.01,ultimate
4,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-06,0.00,0.00,0.0,1000,30720,3000,70,7,0.01,0.01,ultimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-08,0.00,0.00,0.0,50,15360,500,20,10,0.03,0.03,surf
5496,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-09,330.37,12984.76,0.0,50,15360,500,20,10,0.03,0.03,surf
5497,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-10,363.28,19492.43,0.0,50,15360,500,20,10,0.03,0.03,surf
5498,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-11,288.56,16813.83,0.0,50,15360,500,20,10,0.03,0.03,surf
5499,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-12,468.10,22059.21,0.0,50,15360,500,20,10,0.03,0.03,surf

In [56]:
'''# Crear nuevas características basadas en el uso y los excedentes
fact_table["extra_minutes"] = (fact_table["duration"] - fact_table["minutes_included"]).clip(lower=0)
fact_table["extra_mb"] = (fact_table["mb_used"] - fact_table["mb_per_month_included"]).clip(lower=0)
fact_table["extra_messages"] = (fact_table["message_count"] - fact_table["messages_included"]).clip(lower=0)

# Calcular el costo extra
fact_table["extra_cost"] = (fact_table["extra_minutes"] * fact_table["usd_per_minute"]) + \
                           (fact_table["extra_mb"] * fact_table["usd_per_gb"] / 1024) + \
                           (fact_table["extra_messages"] * fact_table["usd_per_message"])

# Calcular el costo total del usuario
fact_table["total_cost"] = fact_table["usd_monthly_pay"] + fact_table["extra_cost"]'''

'# Crear nuevas características basadas en el uso y los excedentes\nfact_table["extra_minutes"] = (fact_table["duration"] - fact_table["minutes_included"]).clip(lower=0)\nfact_table["extra_mb"] = (fact_table["mb_used"] - fact_table["mb_per_month_included"]).clip(lower=0)\nfact_table["extra_messages"] = (fact_table["message_count"] - fact_table["messages_included"]).clip(lower=0)\n\n# Calcular el costo extra\nfact_table["extra_cost"] = (fact_table["extra_minutes"] * fact_table["usd_per_minute"]) +                            (fact_table["extra_mb"] * fact_table["usd_per_gb"] / 1024) +                            (fact_table["extra_messages"] * fact_table["usd_per_message"])\n\n# Calcular el costo total del usuario\nfact_table["total_cost"] = fact_table["usd_monthly_pay"] + fact_table["extra_cost"]'

In [57]:
# Ordenar los datos por usuario y mes para calcular valores del mes anterior
fact_table.sort_values(by=["user_id", "month_year"], inplace=True)

# Crear nuevas características basadas en el uso y los excedentes del mes actual
fact_table["extra_minutes"] = (fact_table["duration"] - fact_table["minutes_included"]).clip(lower=0)
fact_table["extra_mb"] = (fact_table["mb_used"] - fact_table["mb_per_month_included"]).clip(lower=0)
fact_table["extra_messages"] = (fact_table["message_count"] - fact_table["messages_included"]).clip(lower=0)

# Calcular el costo extra del mes actual
fact_table["extra_cost"] = (fact_table["extra_minutes"] * fact_table["usd_per_minute"]) + \
                           (fact_table["extra_mb"] * fact_table["usd_per_gb"] / 1024) + \
                           (fact_table["extra_messages"] * fact_table["usd_per_message"])

# Calcular el costo total del mes actual
fact_table["total_cost"] = fact_table["usd_monthly_pay"] + fact_table["extra_cost"]

# Crear variables del mes anterior para predecir el siguiente mes
fact_table["prev_total_cost"] = fact_table.groupby("user_id")["total_cost"].shift(1)
fact_table["prev_extra_minutes"] = fact_table.groupby("user_id")["extra_minutes"].shift(1)
fact_table["prev_extra_mb"] = fact_table.groupby("user_id")["extra_mb"].shift(1)
fact_table["prev_extra_messages"] = fact_table.groupby("user_id")["extra_messages"].shift(1)

# Eliminar registros sin historial previo (primer mes de cada usuario)
fact_table.dropna(subset=["prev_total_cost"], inplace=True)

In [58]:
fact_table

,user_id,first_name,last_name,age,city,reg_date,plan,churn_date,month_year,duration,...,plan_name,extra_minutes,extra_mb,extra_messages,extra_cost,total_cost,prev_total_cost,prev_extra_minutes,prev_extra_mb,prev_extra_messages
1,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-03,0.00,...,ultimate,0.0,0.00,0.0,0.000000,70.000000,70.000000,0.0,0.00,0.0
2,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-04,0.00,...,ultimate,0.0,0.00,0.0,0.000000,70.000000,70.000000,0.0,0.00,0.0
3,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-05,0.00,...,ultimate,0.0,0.00,0.0,0.000000,70.000000,70.000000,0.0,0.00,0.0
4,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-06,0.00,...,ultimate,0.0,0.00,0.0,0.000000,70.000000,70.000000,0.0,0.00,0.0
5,1000,Anamaria,Bauer,45,"Atlanta-Sandy Springs-Roswell, GA MSA",2018-12-24,ultimate,0,2018-07,0.00,...,ultimate,0.0,0.00,0.0,0.000000,70.000000,70.000000,0.0,0.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5495,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-08,0.00,...,surf,0.0,0.00,0.0,0.000000,20.000000,20.000000,0.0,0.00,0.0
5496,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-09,330.37,...,surf,0.0,0.00,0.0,0.000000,20.000000,20.000000,0.0,0.00,0.0
5497,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-10,363.28,...,surf,0.0,4132.43,0.0,40.355762,60.355762,20.000000,0.0,0.00,0.0
5498,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-11,288.56,...,surf,0.0,1453.83,0.0,14.197559,34.197559,60.355762,0.0,4132.43,0.0
5499,1499,Shena,Dickson,37,"Orlando-Kissimmee-Sanford, FL MSA",2018-05-06,surf,0,2018-12,468.10,...,surf,0.0,6699.21,0.0,65.421973,85.421973,34.197559,0.0,1453.83,0.0

In [59]:
fact_table.drop(columns={"plan_name", "user_id", "first_name", "last_name", "age", "city", "reg_date", "month_year", "churn_date" }, inplace=True)

In [60]:
# Guardar el dataset con las nuevas características
fact_table.to_csv("../data/ml/fact_table_featured.csv", index=False)